 body {
    background-image: url('/public/background.jpg')
 }
 .round-switch {
    position: relative;
    display: inline-block;
    width: 38px;
    height: 21px;
  }
  .round-switch input {
    display: none;
  }
  .round-switch input[type=checkbox]:checked + .slider {
    background-color: #00a086;
  }
  .round-switch input[type=checkbox]:checked + .slider:before {
    transform: translateX(17px);
  }
  .round-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #999999;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 31px;
  }
  .round-switch .slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
  }

